<!--The content below is only a placeholder and can be replaced.-->
<div class="accueil_head" style="text-align:center">
  <iframe width="0" height="0" src="https://www.youtube.com/embed/85bkCmaOh4o?rel=0&autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <a routerLink="/clientConnexion" routerLinkActive="active" class="lien_accueil">Client</a>
  <img routerLink="/" class="logo" src="../assets/Fichier 3@3x-8.png">
  <a routerLink="/agentConnexion" routerLinkActive="active" class="lien_accueil">Agent</a>

  <router-outlet></router-outlet> 
  
</div>


