<div style="text-align:center">
  <a routerLink="Liste" class="lien_accueil" routerLinkActive="active">Mes comptes</a>
  <a routerLink="Virement" class="lien_accueil" routerLinkActive="active">Virement</a>
  <a routerLink="Debit" class="lien_accueil" routerLinkActive="active">Debiter</a>
  <a routerLink="Credit" class="lien_accueil" routerLinkActive="active">Crediter</a>
  <a routerLink="EditInfos" class="lien_accueil" routerLinkActive="active">Editer Infos personelles</a>
  <a routerLink="" class="lien_accueil" (click)="onDisconnect()">Deconnexion</a>
</div>
<router-outlet></router-outlet> 
