<p>
  Bienvenue dans l'espace crédit !
</p>

<form [formGroup]="creditForm" (ngSubmit)="onSubmit()" novalidate>​

  <label for="compte">Veuillez rentrer le numéro du compte que vous souhaitez créditer</label><br>
  <select formControlName="compte">
    <option *ngFor="let compte of client?.comptesEpargne" value="{{compte.id}}">
      {{compte?.id}} {{compte?.intitule}}
    </option>
    <option>
      {{client?.compteCourant.id}} {{client?.compteCourant.intitule}}
    </option>
  </select>
  <br>
  <label for="montant">Veuillez indiquer le montant que vous souhaitez créditer</label><br>
  <input type="number" placeholder="" formControlName="montant" min="0">​<br>
  <br>
  <button type="submit" [disabled]="!creditForm.valid">Submit</button>​

</form>

<div *ngIf="errorMessage">
  {{errorMessage}}
</div>