
<input type="text" id="myInput" (keyup)="searchFunction()" placeholder="Search for names.."><br>

<button routerLink="ajout-client" type="button">Ajouter un Client</button>

<table id="myTable">

  <tr class="header">
    <th style="width:10%;">Id</th>
    <th style="width:40%;">Nom</th>
    <th style="width:30%;">Email</th>
    <th style="width:20%;">Tel</th>
  </tr>
  <tr *ngFor="let c of clients">
    <td [routerLink]="['liste-comptes/', c?.id_client]">{{c?.id_client}}</td>
    <td [routerLink]="['liste-comptes/', c?.id_client]">{{c?.firstname}} {{c?.name}}</td>
    <td [routerLink]="['liste-comptes/', c?.id_client]">{{c?.email}}</td>
    <td [routerLink]="['liste-comptes/', c?.id_client]">{{c?.tel}}</td>
    <td [routerLink]="['edit-client/', c?.id_client]">E</td>
    <td [routerLink]="['delete-client/', c?.id_client]">D</td>
  </tr>
</table>

<div *ngIf="errorMessage">
  {{errorMessage}}
</div>

